@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

body{
    font-family: "Montserrat";
   padding: 0;
    margin: 0 auto;
}
    
* {
  box-sizing: border-box;
}
.background {
    background-image: url("../img/Sectionsbackground/section-1\(header\).jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}
.container{
    
    
	transition-property: all ease-in;
    width: 1160px;
    margin: 0 auto;
}
 .header{
 padding: 10px 0;
  background:  rgba(28, 29, 28, 0.37);
  width: 100%;
  height: 80px;
  text-align: center;
  flex-wrap: nowrap;
        
}
.rightside-logo{
    margin-left: -50px;
    height: 65px;
    display: flex;
    flex-direction: row;
    padding: 20px 0px ;
}

.logo1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 56px;
    height: 30px;
    margin-right: -8px;
 position: relative;
 top: -27px;
    
}
.logo2 { 
    position: relative;
    top: -52px;

       display: flex;
      flex-direction: row;
      padding-left: 15px;
      color: #fff;
      font-size: 32px;
}

.logo2.span{
    font-weight: bold;
}


.span {
    color: #1fd8b3;
}

.navbar{
   box-shadow: 0.5 transform;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 650px;
    flex-direction: row;
}

.navbar-item {
    margin: 0 5px;
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: #d4d4d4;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-item i {
    font-size: 22px;
}

.navbar-item.active::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #1fd8b3;
    height: 2px;
    margin: 0 auto ;
}

.navbar-item:hover {
    color: #1fd8b3;
    bottom: -2px;
    text-decoration: none;
    border-bottom: 3px solid #1fd8b3;
}
.content-of-header{
    padding: -30px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}
.header-content-1{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

}
.header-content-2{
color: #fff;
font-size: 48px;
font-weight: bold;
}
.header-content-3{
    color: #fff;
    font-size: 27px;
}

.btn{
    position: relative;
    width: 150px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.explore{
    transform-style: preserve-3d;
    background-color: #1fd8b3;
    /* margin-right: 2px; */
    margin: 0 10px;
}

.explore::before {
    background-color: #fff;
    width: 150px;
    height: 60px;
   content: " ";
    position: absolute;
    top: -4px;
    left: 0;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);

}
.explore:hover {

background-color: lightgrey;
}

.purchase{
    transform-style: preserve-3d;
    margin-left: 28px;
    background-color: #00cbf6;

}

.purchase::before{
    background-color: #fff;
    width: 150px;
    height: 60px;
    content: " ";
    position: absolute;
    top: -4px;
    left: 0;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.purchase:hover{
    background-color: lightgrey;
}

.sections{
   
display: flex;

}

.sctn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid;
    width: 30%;
    height: 375px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.sctn:nth-child(odd) {
color: #1fd8b3;
background-color: #1c2a33;
border-color: #1fd8b3;
}

.sctn:nth-child(even) {
color: #fff;
background-color: #1fd8b3;
border-color: #fff;
}

.sctn p {
    height: 40%;
}

.sctn .section-img{
    display: flex;
    align-items: center;
    height:65%;
}
.our-services {
    
    margin: 75px 0 23px;
    text-align: center;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #4e4e4e;
  
}
.service-text {
    color: #4e4e4e;
    text-align: center;
    font-family: "Montserrat";
    font-weight: normal;
}
.hr{
    border: none;
 width: 5px;
    position: relative;
    color:1px solid #1fd8b3;
}


.line1{
 
margin: 10px;
}
.line2{
 
    left: 2%;
margin-top: 5px;
margin-bottom: 70px;
position: relative;
color:1px solid #1fd8b3;

}
.our-services-navbar{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    height: 85%;
    width: 1280px;


}   
.our-services-navbar li{
    display: block;
    background-color: #f8fcfe;
    width: 50%;
    cursor: pointer;
    border: 1px solid #ebebeb;
    color: #717171;
    padding: 20px 16px;
    position: relative;
    transition: 0.5s all;
  
}
.our-services-navbar li.active{
    color: #fff;
    background-color: #1fd8b3;
    border: #1fd8b3 1px solid;
}
.our-services-navbar li.active::after{
    left: 0;
    right: 0;
    content: " ";
    display: flex;
    position: absolute;
    bottom: -11px;
    width: 23px;
    height: 13px;
    margin: 0 auto 0;
    border: none;
background-image: url(/img/our-srvc-web.png);
  
}
.our-services-navbar:hover {
    background-color: #18cfab;
  color: white;
 
}
#content-of-tab{
    list-style-type: none;
    text-align: left;
    padding: 0;
    height: 300px;
    width: 1280px;
    margin: 40px auto 40px auto;
  
}
.active-content {
    display: flex !important;
}
.contents{
    display: none;
    text-align: justify;
    justify-content: space-between;
    align-self: stretch;
}
.content-of-tab li{
    display: flex;
    flex-direction: row;

}
.tab-img{
   
  padding-right: 15px;
  width:283px ;
  height: 205px;
  

}
.ready-part{
    height: 480px;
    position: relative;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .ready-part:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: url("../img/Sectionsbackground/section-2.jpg");
    filter: brightness(25%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .texts-purchase h2 {
      color: #18cfab;
      padding-top: 20px;
      font-size: 40px;
      font-weight: bold;
    width: 100%;
  }
  .texts-purchase h4 {
    color: white;
    font-size: 22px;
    font-weight: lighter;
  }
  
  .purchase{
    margin: 45px 0 60px;
    border-radius: 4px;
    box-shadow: 0 -3px white;
    height: 60px;
    width: 150px;
    border: none;
    padding: 0;
    font-size: 13px;
    color: white;
    font-weight: 750;
    cursor: pointer;
    
}
.our-amazing-work{
    background: #f8fcfe;
    display: flex;
    flex-direction: column;
    
}
  .amazing-work-txt{
      position: relative;
      padding: 75px 0 20px;
      margin: 0;
    display: block;
    font-size: 35px;
    font-weight: lighter;
    color: #4e4e4e;
  
}
.amazing-work-txt::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: #1fd8b3;
    top: 150px ;
    left: 500px;

}

.amazing-work-txt::before{
    content: "";
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: #1fd8b3;
    top: 140px ;
    left: 530px;

}


  .navbar-2{
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    list-style: none;
    padding-left: 0;
    margin: 80px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 word-wrap: nowrap;
    list-style: none;
    padding-left: 0;
    margin: 80px 0;
  width: 100%;
  
  }
 
  .navbar-2 li a {
    
      display: inline-block;
    background-color: #fff;
    font-size: 27px;
    height: 100%;
    color: #717171;
    border-top: 2px solid #ebebeb;
    cursor: pointer;
    border: 1px solid #ebebeb;
    text-decoration: none;
    padding: 20px 39px;
    transition: 0.5s all;
  align-items: center;
  }
  .filter-title.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
  }
  .filters-list {
    flex-wrap: wrap;
    display: flex;
  }
  
  .filter-item img {
    overflow: hidden;
    float: left;
    cursor: pointer;
    height: 200px;
    width: 100%;
    display: block;
  }
  

.load{
display: flex;
align-items: center;
justify-content: center;
position: relative;
color: white;
height: 100%;
background: #1Bcfab;
margin: 50px auto;
height: 80px;
width: 200px;
cursor: pointer;
font-size: 18px;
border: none;
border-radius: 5px;
text-align: center;

}
.footer{
    display: flex;
    justify-content: center;
    background: #22353f;
    margin-top: 80px;
    align-items: center;
    color: #eaeaea;
    height: 120px;
    font-size: 20px;
}
.txt-footer span{
color: #18cfab;
border-right: 1px solid #eaeaea;
}
