body 
    margin: 0
    background: #ebebeb23
   

*
    box-sizing: border-box

.header
    z-index: -1




.container 
    width: 100%
    margin: 0 auto
    text-align: center 
    align-items: center


.navbar
    width: 100%
    margin: 0 auto
    text-align: center 
    align-items: center

.navbar1  
    width: 100%
    height: 75px
    border-radius: 6px
    padding: 8px
    justify-content: space-between
    display: flex
    flex-direction: row
    background: #2a2b2c 
    align-items: center
    content: ""
    display: flex
    

.icon
    padding: 10px 5px
    
.login-cart
    margin-left: 810px  
    color: white


.login-register 
    cursor: pointer
    color: white
    padding-top: -10px
    padding-right: 5px
    position: relative
    bottom: -20px
    margin: 0 8px
    float: left


.cart
    display: flex
    background-color: #cb3333
    color: white
    border: none
    padding: 15px 32px 
    text-align: center
    justify-content: space-around
    align-items: center
    border: none
    text-decoration: none
    display: inline-block
    border-bottom-right-radius: 10px
    box-shadow: 0 8px 8px -2px gray
    outline: none
    cursor: pointer
    font-size: 16px
    margin-right: 70px
    border-bottom-left-radius: 10px
    width: 140px
    height: 65px
    margin-top: 3px



.button
    background-color: #1e1e20


.title-count
    height: 90px
    font-size: 20px
    width: 340px
    float: left
    display: flex
    flex-direction: row

.title-count img
    width: 50px
    height: 50px
    position:  absolute
    margin: 18px 0
        
.product-cnt
    margin:  20px 12px
    display: flex
    flex-direction: column
    font-weight: bold
    position: relative

.cart-price-btn
    display: flex
    flex-direction: row
    justify-content: space-between
    

.cart-price-btn button
    display: flex   
    color: white
    background: rgb(30,30,32)
    font-size: 12px
    align-items:  center
    cursor: pointer
    outline: none
    border: none
    height: 23px
    border-radius: 4px
    padding:  5px
 
.cart-price-btn span
    color: #c92c2c
    font-weight: 500

.arrows-btn
    background: #cc3333
    outline: none
    border: none
    margin: 3px
    width: 25px
    height: 25px
    border-radius: 2px
    cursor: pointer

.arrows-btn img 

    position: relative
    top: -8px
    width: 15px
    height: 15px

.arrivals-header 
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 50px 

.arrivals-header h1 
    margin: 0
    font-size: 25px
    align-items: center

.arrivals-header img
    width: 730px
    height: 10px
    margin: 12px 0


.header
    z-index: -1

.first-header-line
    background-color: #2a2b2c
    border-top: 1px solid red
    color: white
    height: 40px
    display: flex
    align-items: center
    

 


.second-header-line
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 15px 0
    margin-top: 5px
    align-items: center

.navbar2
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    float: right
    padding-left: 450px
    margin-top: 20px



.musica
    display: flex
    flex-direction: row
    



.welcome-text
    font-size: 35px

.welcome-text span
    background: #cb3333
    padding: 4px
    color: white

.welcome-to-musica
    display: flex
    flex-direction: row
    text-align: start
    justify-content: space-between


li
   float: left 
   

li a
    display: inline-block
    font-weight: 500
    color: black
    text-align: center
    padding: 14px 16px
    text-decoration: none   
    text-transform: uppercase

li a:hover 
    background-color: orange    
       

.modal_window
    z-index: 1
    display: flex
    align-items: flex-start
    flex-direction: column
    font-size: 15px
    border: 1px solid #ffffff
    background-color: #ffffff
    margin: -421px 250px 600px 900px
    width: 360px
    position: absolute
    padding: 10px
    
.about-product
    height: 90px
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 0.5px dotted #645b5b
    align-items: center

.modal-remove-btn
    width: 25px
    height: 25px
    border-radius: 100%
    border: none
    cursor: pointer
    outline: none
    color: white
    background: #d23939

        
.welcome-to-musica
    display: flex
    flex-direction: row

.price-remove-btn p  
    margin: 0
    font-size: 16px

    
.about-product
    height: 90px
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 0.5px dotted #645b5b
    align-items: center

.count-title
    height: 90px
    font-size: 20px
    width: 340px
    float: left
    display: flex
    flex-direction: row

.choices
    width: calc( 100% /3  )
    height: 130px
    border: 1px solid transparent
    padding: 15px 13px
    border-radius: 4px
    background: #1e1e20
    color: white
    font-size: 15px
 
.choices h3 
    display: flex
    align-items: center
    position: relative
    font-size: 16px
    margin: 0

.choices h3 img
    position: relative
    top: 2px
    margin-right: 15px
    

.choices:last-child, .options:first-child
    background: #cc3333

.product-list
    display: flex
    flex-direction: row
    margin: 0
    justify-content: space-between
    align-items: flex-start
    padding: 0
    
.products-item 
    background: #ffffff
    list-style: none
    border: 1px solid #f2f2f2
    width: 250px
    height: 450px
    margin: 10px 0  
    

.products-item  img
    width: 248px





.arrivals-header 
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 50px 

.arrivals-header h1 
    margin: 0
    font-size: 25px
    font-color: #1d1d1f
  
.arrivals-header img
    width: 730px
    height: 10px
    margin: 12px 0

.view-card-btn 
    display: flex
    flex-direction: row
    width: 100%
    margin: 20px 0 10px


.proceed-btn
    margin-right: 8px
    color: white
    background: #201f1f
    font-size: 14px
    cursor: pointer
    border: none 
    outline: none
    height: 30px


   



  
 

 



    
    

